@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&display=swap');

*{
    font-family: 'Abel', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a{
        text-decoration: none;
        color: black;
    }
}

body{
    overflow: hidden;
}


